body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #236969;
  color: #fff;
  padding: 20px;
}
footer {
  background-color: #236969;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  flex: 1;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin-left: 10px;
  margin-right: 10px; /* Adjust the margin value as needed */
}

.social-icons svg {
  width: 24px;
  height: 24px;
  fill: #000;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}

.project {
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}

p {
  line-height: 1.5;
}
